//页面标题
.page_title {
  margin-top: 4px;
  margin-bottom: 24px;
  width: 100%
}
//标题字体样式
.page_title span {
  font-size: 24px;
  color: #72767b;
  font-weight: bold;
}
//富文本编辑器
.mavon-editor {
  width: 100%;
  min-height: 600px;
  margin-top: 10px;
  z-index: 0;
}
//保存按钮
.save-button {
  margin-top: 20px;
  width: 100%;
}
